<h2>Transfer Certificate</h2>
<p>This is to certify that <%= studentName %> (Admission No: <%= admissionNo %>) has been transferred from our institution.</p>
<p>Date: <%= date %></p>
<p>Please find the attached certificate for your records.</p>
